#listProduct >.notify{
	z-index: 1;
	right: -100%;
	transition: all 0.8s;
}

#listProduct > .activeNotify{
	z-index: 1;
	right: 1%;
	transition: all 0.8s;
}


.form-register-user{
	position: absolute;
	z-index: 1;
	transition: all 0.8s;
	left: 100%;
	

}

.form-register-user-right{
	position: absolute;
	z-index: 1;
	transition: all 0.8s;
	left: 38.2%;
}

@media screen and (max-width: 600px){

	.form-register-user{
		position: absolute;
		z-index: 1;
		transition: all 0.8s;
		left: 100%;


	}

	.form-register-user-right{
		position: absolute;
		z-index: 1;
		transition: all 0.8s;
		left: .2%;
	}

	.form-login-user{

		transition: all 1s;
		right:0%!important;

		

	}

	.form-login-user-right{

		right:100%!important;
		transition: all 1s ;
	}

}

.form-login-user{
	
	transition: all 1s;
	right:0%;

}

.form-login-user-right{

	right:100%;
	transition: all 1s ;
}



.btn-link{
	cursor: pointer;
}